<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>starwow</title>
</head>
<body>
    <h1>Star WOW!</h1>
    <table>
    <%chests.forEach(chest=>{%>
        <tr>
            <td><%=chest.name%></td>
            <td><%=chest.price%></td>   
        </tr>
    <%})%>
    </table>

</html>